@use "tailwindcss";
@use 'assets/variables';
@import 'rc-slider/assets/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Define the default page background */
    --page-bg: #ffffff;
  }

  body {
    @media (prefers-color-scheme: light) {
      background-color: var(--page-bg);
    }
    @apply text-gray-900 dark:bg-gray-900 dark:text-gray-100;
  }
}

@media (prefers-color-scheme: light) {
  body:has(.auth-theme-trigger) {
    --page-bg: $primary-gradient-light1
  }
}

@theme {
  --color-primary: #5E5441;
}

.primary-gradient {
  background: variables.$primary-gradient-light
}

@media (prefers-color-scheme: dark) {
  .primary-gradient {
    background: variables.$primary-gradient-dark
  }
}
