@use "tailwindcss";
@use 'assets/variables';
@import '../libs/shared-ui/src/lib/variables';
@import 'rc-slider/assets/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --page-bg: #ffffff;
    --primary-color: #{$primary-color};
  }

  body {
    @media (prefers-color-scheme: light) {
      background-color: var(--page-bg);
    }
    @apply text-gray-900 dark:bg-gray-950 dark:text-gray-100;
  }
}

@media (prefers-color-scheme: light) {
  body:has(.auth-theme-trigger) {
    --page-bg: $primary-gradient-light1
  }
}

@theme {
  --color-primary: #5E5441;
}
