@use "tailwindcss";
@use 'assets/variables';
@import 'rc-slider/assets/index.css';
@import 'material-icons/iconfont/material-icons.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
  }
}

@theme {
  --color-primary: #5E5441;
}

.primary-gradient {
  background: variables.$primary-gradient-light
}

@media (prefers-color-scheme: dark) {
  .primary-gradient {
    background: variables.$primary-gradient-dark
  }
}
