@use "tailwindcss";
@use '../../libs/shared-ui/src/lib/variables';
@import 'rc-slider/assets/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --page-bg: #ffffff;
    --primary-color-dark: #{variables.$primary-color-dark3};

  }

  body {
    @media (prefers-color-scheme: light) {
      background-color: var(--page-bg);
    }
    @apply text-gray-900 dark:bg-gray-950 dark:text-gray-100;
  }
}

@media (prefers-color-scheme: light) {
  body:has(.auth-theme-trigger) {
    --page-bg: variables.$primary-color-light1
  }
}

@theme {
  --color-primary: var(--primary-color-dark);
}

.primary-gradient {
  background: variables.$primary-gradient-light
}

@media (prefers-color-scheme: dark) {
  .primary-gradient {
    background: variables.$primary-gradient-dark
  }
}
