@use "tailwindcss";
@use '../../../../libs/shared-ui/src/lib/variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root{
    --primary-color-dark: #{variables.$primary-color-dark3};
  }
  body {
    @apply bg-white text-black dark:bg-black dark:text-gray-100;
  }
}

@theme {
  --color-primary: var(--primary-color-dark);
}

.primary-gradient {
  background: variables.$primary-gradient-light
}

.primary-text-gradient {
  background: variables.$primary-gradient-light;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@media (prefers-color-scheme: dark) {
  .primary-gradient {
    background: variables.$primary-gradient-dark
  }
  .primary-text-gradient {
    background: variables.$primary-gradient-dark;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}
