@use "tailwindcss";
@use '../../../libs/shared-ui/src/lib/variables';
@import 'rc-slider/assets/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --page-bg: #ffffff;
    --primary-color-dark: #{variables.$primary-color-dark3};
  }

  body {
    @media (prefers-color-scheme: light) {
      background-color: var(--page-bg);
    }
    @apply text-gray-900 dark:bg-gray-950 dark:text-gray-100;
  }
}

@media (prefers-color-scheme: light) {
  body:has(.auth-theme-trigger) {
    --page-bg: variables.$primary-color-light1
  }
}

@theme {
  --color-primary: var(--primary-color-dark, red);
}

.primary-gradient {
  background: variables.$primary-gradient-light
}

.primary-text-gradient {
  background: variables.$primary-gradient-dark;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@media (prefers-color-scheme: dark) {
  .primary-gradient {
    background: variables.$primary-gradient-dark
  }
  .primary-text-gradient {
    background: variables.$primary-gradient-light;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}
